sounddevice
google-genai
google-generativeai
pillow
requests
beautifulsoup4
duckduckgo-search
playwright          
pyautogui
pyperclip
pygetwindow       
opencv-python
numpy<2.0.0
mss
Pillow
psutil
comtypes
pycaw               
win10toast          
send2trash
youtube-transcript-api
pywinauto
PyQt6
PyPDF2
python-docx
pandas
pdfplumber
python-pptx
pydub
reportlab
openai
torch==2.0.1
torchaudio==2.0.2
speechbrain==0.5.16
huggingface-hub<0.22.0